parameters:
    level: 6
    paths:
        - plugins/saai-knowledge
    excludePaths:
        - plugins/*/vendor/*
        - plugins/*/node_modules/*
        - plugins/*/build/*
        - plugins/*/tests/*

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
