<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite name="saai-knowledge">
            <directory suffix=".php">plugins/saai-knowledge/tests</directory>
        </testsuite>
        <testsuite name="saai-knowledge-for-woocommerce">
            <directory suffix=".php">plugins/saai-knowledge-for-woocommerce/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
